{% extends "blog/base.html" %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
    <h2>{{ post.title }}</h2>
    <p class="date">
        Publicado em {{ post.created }} por {{ post.author }}
    </p>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="receipe-slider owl-carousel">
                        <img src="{{ post.foto.url }}" alt="">
                </div>
            </div>
        </div>
    </div>
    {{ post.body|linebreaks }}
{% endblock %}